ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  font-size: 20px;
  border-bottom: 2px solid black;
  text-align: center;
}

article {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  padding: 5px;
}
.tab-atha {
  margin-top: 30px;
  border-radius: 5px 5px 0px 0px;
  display: block;
  background: lightblue;
  bottom-border: 2px solid #ccc;
  width: 25%;
}

.tab-titles {
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  cursor: pointer;
}

.tab-titles:hover {
  color: white;
  background-color: slategrey;
}

.clock {
  padding: 5px;
  display: block;
  width: 300px;
  background-color: palegoldenrod;
  margin: 0 auto;
}
.date-time {
  display: flex;
  justify-content: space-between;
}

* {
  font-family: sans-serif;
}
